<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Async Museum</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
  <header class="">
    <nav class="flex bg-black">
      <div class="flex mx-5 py-4 items-center max-w-7xl mx-auto justify-between w-full">
        <h1 class="text-3xl text-white font-bold"><span class="text-orange-800">Async</span> Museum</h1>
        <ul class="flex *:hover:text-orange-800 text-white gap-14">
          <li><a href="">Home</a></li>
          <li><a href="">Exhibition</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact us</a></li>
        </ul>
        <a href="" class="bg-orange-800 px-5 py-2 rounded-lg text-white font-semibold">Get started</a>
      </div>
    </nav>
    <div class="bg-[url('https://cdn-museabrugge-be.cloud.glue.be/https%3A%2F%2Fwww.museabrugge.be%2Fvolumes%2Fgeneral%2FBezoek-het-Groeningemuseum_Musea-Brugge.jpg?dpr=2&w=1440&h=590&fit=crop&s=3c676338b7222eaf5b274e130e09698e')] flex items-center justify-center">
        <div class="py-50 bg-black/80 h-full w-full">
            <div class="flex text-white w-full h-full flex-col items-center gap-7">
                <h2 class="text-4xl font-semibold text-center">
                    Async Museum disponible partout <br> dans le monde
                </h2>
                <p class="text-lg">
                    Ton meilleur Musée en ligne
                </p>
                <a href="/exhibits" class="bg-orange-800 px-5 py-2 rounded-lg font-semibold text-black">Voir les Exhibition</a>
            </div>
        </div>
    </div>
  </header>
</body>

</html>