<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Async Museum</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
  <header class="">
    <nav class="flex bg-black">
      <div class="flex mx-5 py-4 items-center max-w-7xl mx-auto justify-between w-full">
        <h1 class="text-3xl text-white font-bold"><span class="text-orange-800">Async</span> Museum</h1>
        <ul class="flex *:hover:text-orange-800 text-white gap-20">
          <li><a href="">Home</a></li>
          <li><a href="">Exhibition</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact us</a></li>
        </ul>
        <img src="" alt="">
      </div>
    </nav>
  </header>
</body>

</html>